[2014-04-09 16:28] jwiegley opened #2 "Tests hang indefinitely burning CPU when attempting to install with Nix"
I've tried this both on NixOS and on a Mac running Nix: `streaming-commons` builds just fine, but the tests hang burning CPU:

[code]

I'll dig into it further, but just wanted to bring up the issue in case anyone else has run into this.

[2014-04-09 16:37] #2 closed, assigned to nobody

[2014-04-25 13:07] nikomi opened #3 "Get host out of HostPreference"
Hi,

I know that HostPreference is an instance of IsString so I can easily set it, but how do I get the host name or wildcard out of a HostPreference?

I used to have code like

[code]

Are there any getters I just failed to spot?

thanx, Nik

[2014-05-04 10:07] Fuuzetsu opened #4 "Make tests faster"
The tests currently take a very long time to run, into tens of minutes, as evidenced by #2 (which I can't reopen), https://github.com/NixOS/nixpkgs/pull/2485 and even this repository's own CI bot which outright times out due to lack of any new output for 10 minutes.

I don't know what it is but something makes the tests take far longer than they should be.

[2014-05-04 10:23] #4 closed, assigned to nobody

[2014-05-06 16:17] #3 closed, assigned to nobody

[2014-07-22 02:48] Graham42 opened #7 "Module `Control.Concurrent.STM' does not export `tryReadTMVar'"
When trying to install latest version

Stacktrace:

[code]

[2014-07-22 04:57] #7 closed, assigned to nobody

[2014-09-13 19:42] sdroege opened #8 "Provide more Text charset conversions than UTF*"
Hi,

it would be great if there were more charset conversion functions for Text than for UTF*, maybe with the help of text-icu. The main problem here seems to be that text-icu provides no streaming compatible functions but needs a complete string without any missing bytes for the last character. For 8 bit encodings that should be fine, for other fixed-length encodings it should be possible to impl

[2015-01-09 11:23] hvr opened #14 "Missing `base >= 4.4` constraint in streaming-commons"
Not a single relased version of `streaming-commons` works with base-4.3, so its .cabal file ought to tell that... (on the bright side, *all* released versions of `streaming-commons` compile fine for all released base versions `>= 4.4`)

[2015-01-11 08:03] #14 closed

[2015-01-11 08:03] snoyberg commented on #14
Thanks @hvr, added.

[2015-01-11 09:07] hvr commented on #14
@snoyberg now somebody (I can take care if you want) just needs to edit `base >= 4.4` constraints into all older `streaming-commons` releases... :)

[2015-01-11 09:11] snoyberg commented on #14
No objection, but I'm curious... who is that really going to help? I've never considered version bounds on base as being particularly useful in situations like this. It makes sense if some old version worked for an old version of GHC, but otherwise just seems to move the error message earlier in the process.

[2015-01-11 09:15] hvr commented on #14
It can allow `cabal install foo` to find an alternative install-plan (which doesn't require `streaming-commons`) that doesn't run into a compile-time error. I've seen that with happen with at least one other package.

[2015-01-11 09:16] snoyberg commented on #14
I hadn't thought of that case, makes sense. If you're up for making those modifications, I'd appreciate it. To be fair, since the latest Hackage fiasco, I'm avoiding editing cabal files on Hackage at all. What's your Hackage username? I'll make you a contributor.

[2015-01-11 10:35] hvr commented on #14
@snoyberg I've actually got Hackage trustee-editing privileges (and by now quite a bit of experience editing cabal files)... so you don't need to add me as as maintainer :-)

[2015-01-11 10:36] snoyberg commented on #14
OK, good to know we're in good hands ;).

[2015-01-11 12:44] hvr commented on #14
@snoyberg done: https://ghc.haskell.org/~hvr/buildreports/streaming-commons.html

[2015-01-11 14:05] snoyberg commented on #14
Thanks!

[2015-01-14 16:27] ozataman opened #16 "Minor point release 0.1.9.1 broke builds with GHC 7.6.3"
Here's a command that used to run fine on a brand new ubuntu image on AWS after initial GHC 7.6.3 installation:

[code]

Yet it all of a sudden stopped working after the 0.1.9.1 point release (!!) and now requires:

[code]

The lack of lower and upperbounds on dependencies is the culprit, I believe. At the very least, I personally find this kind of breakage to be beyond acceptable norms on a minor

[2015-01-14 16:38] snoyberg commented on #16
Please don't give bug reports with enough information to actually solve
anything. What actually broke? What's the message? By saying a point
release broke it, which version stool works?

On Wed, Jan 14, 2015, 6:28 PM Ozgun Ataman <notifications@github.com> wrote:

[2015-01-14 16:47] snoyberg commented on #16
If my previous response sounded annoyed, it's because of the accusatory nature if the report. We tested this release on many versions of GHC, as can be seen

https://travis-ci.org/fpco/streaming-commons

So before making claims of unacceptable behavior, please actually provide some real information about what's happening.

[2015-01-14 17:11] ozataman commented on #16
No need to get aggressive, Michael. It won't magically solve the issues people may be having in the wild using your packages. As you're doing a great service by maintaining this package, we're trying to do a service by reporting issues. I could have simply added my constraint and moved on instead of reporting, which is what responses like this will have me do in the future.

The report was not as

[2015-01-14 18:41] snoyberg commented on #16
Believe me when I tell you that I deal with a large number of bug reports on a regular basis. Your original report left out crucial details, jumped to conclusions, and had an accusatory tone. That may not have been your intention, but that's how it reads.

I have written many blog posts and emails about fragile setups. If this change led to serious frustration and breakage in your internal setup,

[2015-01-14 18:52] manny-fp commented on #16
@ozataman To help my testing, which version of cabal-install are you using?  If you have bytestring < 0.10.2.0, it *should* be pulling in the `bytestring-builder` package which has the Data.ByteString.Builder.Extra module (with bytestring >= 0.10.2.0, bytestring itself includes that module).  I believe that I tested with cabal-install-1.20.0.3.

[2015-01-14 18:57] snoyberg commented on #16
@manny-fp That's a good question. There were certainly cabal-install dependency solver bugs around flags in the past. It caused a ridiculously large amount of problems for transformers-compat, for instance.

[2015-01-16 06:01] ozataman commented on #16
@manny-fp The machine where we saw this issue has already been shut down, but our boot script pulls and installs cabal-install-1.20.0.3.tar.gz.

[2015-01-16 06:20] ozataman commented on #16
@snoyberg No frustration; it's a 5 second fix: 'streaming-commons < 0.1.9'.

I would nevertheless love to hear what you consider to be a robust setup for a company-internal Haskell build ecosystem. Several requirements go into it (private repos, ability to quickly benefit from fixes/improvements, mobility, ability to fix some packages internally until maintainer gets up to speed, different major a

[2015-01-16 06:24] snoyberg commented on #16
I'm just prepping for a trip, so I don't have time to go into details. But short answer is: reproducibility. Every developer should be able to run the `build-all` command and be guaranteed they're getting *exactly* the same versions of packages. One developer/curator/maintainer should have the responsibility of testing out new versions of packages and pushing an update to the entire team. The Stac

[2015-01-19 11:42] manny-fp commented on #16
For anyone still experiencing this issue, can you provide the output of `cabal install -v3 streaming-commons-0.1.9.1`?  If using GHC 7.6.3, it *should* contain something like this, where it decides to install bytestring-builder since you have an older version of bytestring that doesn't include Data.ByteString.Builder:

[code]

[2015-01-19 12:02] reite commented on #16
Im experiencing this error. Im using windows 8, cabal-install  1.22.0.0, GHC 7.6.3.

When I just do:
`cabal sandbox init`
`cabal install streaming-commons`

I get the same error as in the above post:
[code]

When I do `cabal install -v3 streaming-commons-0.1.9.1`. I get these lines:

[code]

Further down it also says: `Flags chosen: use-bytestring-builder=True`

`bytestring-builder` is also listed

[2015-01-20 00:26] lseppala commented on #16
This seems to be a library resolution bug in the latest Cabal library (`1.22.0.0`) at least on GHC `7.6.3`. Here's a minimally failing Dockerfile (last line fails with the error previously reported):

[code]

Take out the second to the last line (upgrading cabal) and it builds.

I honestly don't have too much of any idea to go about fixing or circumventing this issue for now. Oddly enough, explici

[2015-01-20 01:15] manny-fp commented on #16
@lseppala Thank you, I am now able to reproduce this in Docker.

[2015-01-20 17:23] manny-fp commented on #16
This turns out to be caused by lpsmith/bytestring-builder#1.  This is not a problem if using GHC 7.8 (which includes a new enough version of bytestring that bytestring-builder is not necessary).  If using GHC < 7.8, the workaround is to ensure your version of the Cabal library is < 1.19.  Alternatively, you can install a recent version of bytestring (with all the risks inherent in using a version

[2015-01-21 01:32] snoyberg commented on #16
I just sent a pull request for that bytestring-builder bug: lpsmith/bytestring-builder#2.

[2015-01-21 22:58] mightybyte commented on #16
@manny-fp As an outsider having taken only a cursory look at this issue, I don't see how the problem could have been caused by bytestring-builder.  The last bytestring-builder release before today was December 2, 2013!  Things seem to have been working for over a year so I fail to see how that could be the cause of this recent problem.

It seems more likely that the problem is related to streaming

[2015-01-21 23:11] snoyberg commented on #16
@mightybyte

1. We didn't release a new module in a patch release, it was the 0.1.9 minor version bump (the original report here was incorrect).
2. Please review that bytestring-builder issue, it incorrectly builds with specific versions of the Cabal library in place. @manny-fp's assessment of the situation is correct, and I (or you) can easily reproduce the results.

[2015-01-21 23:59] mightybyte commented on #16
@snoyberg Think about it from the users' perspective.  They're using package foo, it works, life is great.  The maintainer makes a change to foo, now it doesn't work, therefore the maintainer is the cause of the breakage.  Maybe the maintainer started depending on another package that has a problem.  Fine, but he is still the cause of the breakage in foo because he made the change that triggered t

[2015-01-22 00:07] snoyberg commented on #16
@mightybyte I'm surprised you're really discussing this. This is such an obvious issue: there's a compatibility package for old versions of GHC. We used that package. We tested that everything worked. We released a new version, following the PVP. Then it turns out that under certain circumstances, that package is broken. And then we sent a pull request (two, actually) to get the package fixed.

Be

[2015-01-22 09:17] marco-santamaria commented on #16
I'm using version 1.22.0.0 of the Cabal library with version 7.6.3 of GHG and I get this error:

    Data/Streaming/ByteString/Builder.hs:12:8:
        Could not find module `Data.ByteString.Builder.Extra'
        It is a member of the hidden package `bytestring-0.10.4.1'.
        Perhaps you need to add `bytestring' to the build-depends in your .cabal file.
        Use -v to see a list of the fil

[2015-01-22 11:57] manny-fp commented on #16
@marco-santamaria Would you mind providing the output of `cabal install -v3 streaming-commons` and `ghc-pkg list`?

[2015-01-22 13:15] marco-santamaria commented on #16
With -v3 the relevant part should be the following:

    Data/Streaming/ByteString/Builder.hs:12:8:
    Could not find module `Data.ByteString.Builder.Extra'
    It is a member of the hidden package `bytestring-0.10.4.1'.
    Perhaps you need to add `bytestring' to the build-depends in your .cabal file.
        Locations searched:
          dist/build/Data/ByteString/Builder/Extra.hs
          dis

[2015-01-22 14:11] manny-fp commented on #16
@marco-santamaria The parts of the `-v3` output I'm particularly interested in are related to cabal's dependency solver, anything related to the `use-bytestring-builder` flag, and the full command-line it passes to GHC to build the package.  Rather than you going through the output looking for those, might be easiest to provide the all the output.

[2015-01-22 15:31] marco-santamaria commented on #16
Thanks for the feedback, I ended up removing all the installed packages, cabal and ghc. After reinstalling ghc and cabal now I don't have errors anymore using version 1.22.0.0 of the Cabal library and version 7.6.3 of GHG.

[2015-02-09 10:24] snoyberg commented on #16
bytestring-builder has released a patched version, which seems to have fixed this breakage. @ozataman @mightybyte can you test/confirm?

[2015-02-23 14:22] manny-fp commented on #16
Is anyone still experiencing problems?  If I don't hear back in the next few days, I'll close this issue.

[2015-02-25 12:57] #8 closed

[2015-03-02 13:57] #16 closed

[2015-03-21 15:39] edom opened #19 "Build failure on master with GHC 7.6.3"
It seems that Cabal wrongly takes bytestring 0.10.0.2 despite streaming-commons.cabal having specified bytestrings >= 0.10.2.0.

[code]

(while building 'idris')

[2015-03-21 15:52] edom commented on #19
Sorry, never mind. It's caused by a conflict with other packages that depend on older versions of bytestring.

[2015-04-09 07:10] davean opened #20 "Decompressing a specific amount of zlib data "eats" following data"
Some data formats (git pack files) store not the amount of compressed data, but the size that data is uncompressed. One would suppose that using the streaming-commons toolkit would easily handle this case, it does not seem to.

While it does decompress the correct amount, it does not return the unused input to be read again as demonstrated by the following example program:

[code]

example output:

[2015-04-09 07:23] davean commented on #20
To be clear, this seems to be an issue with the streaming-commons API, I merely used conduit to produce a clear demonstration of it.

This problem is exampled and documented in http://stefan.saasen.me/articles/git-clone-in-haskell-from-the-bottom-up/#pack_file_objects where he explains that http://hackage.haskell.org/package/iteratee-compress does pass this test.

[2015-04-09 08:37] snoyberg commented on #20
I've just added a new function (`getUnusedInflate`) which I believe solves this problem. Can you test it out? I'm going to add the necessary call to that function in `conduit-extra` and test your snippet.

[2015-04-09 09:01] snoyberg commented on #20
@davean Please have a look at https://github.com/snoyberg/conduit/commit/1aa59eea3c16679d23823ae8363d6568370115ab, which fixes the problem in conduit-extra. Your original code had problems with leftover handling, so I had to tweak it a bit in the test case.

[2015-04-10 10:48] davean commented on #20
Thanks for being so prompt. Things look good to me. I believe it should work in practice (and in fact it does against real data).

As for the change to the test, yes. I wrote for the intent, but what I wrote doesn't seem to be something conduit can express directly. I agree your rewriting does express what conduit should actually implement. If one actually did truly need what I wrote - in conduit

[2015-04-10 10:48] #20 closed

[2015-04-12 09:49] snoyberg commented on #20
That form of fusion is supported, it just needs a separate fusion function (e.g. [fuseLeftovers](https://www.stackage.org/haddock/nightly-2015-04-09/conduit-1.2.4/Data-Conduit.html#v:fuseLeftovers)). Have a look at slide 29 from https://docs.google.com/presentation/d/1RBefOCZ7AKOo4f1yiF4mtKPAT3l5vY9ky2SR02O4Vvg/edit#slide=id.g3c22e35a9_0144 for more details.

[2015-04-21 00:57] joeyh opened #21 "fails to build on Windows XP; Share.h not found"
0.1.11 fails to build:

Win32File.hsc:34:19: fatal error: Share.h: No such file or directory

I can't find any Share.h or share.h anywhere in the windows filesystem.

I had previously installed 0.1.4.1 w/o this problem.

I have not checked if this affects later versions of Windows.

[2015-04-21 03:58] snoyberg commented on #21
There have been no changes to Win32File.hsc... actually, [ever](https://github.com/fpco/streaming-commons/commits/master/System/Win32File.hsc). I'm pretty confident I've built this code on Windows XP, but I know for a fact that I'm currently able to build it on Windows 8. share.h should be shipping with mingw. For example, on my system:

C:\Program Files (x86)\MinGHC-7.8.4\ghc-7.8.4\mingw\include\

[2015-04-21 04:40] joeyh commented on #21
Michael Snoyman wrote:

Seems that the problem was trying to build it in a cygwin terminal,
which used cygwin's gcc, which failed to find that file.

Sorry for the noise.

--
see shy jo

[2015-04-21 04:43] snoyberg commented on #21
No problem, it's not the first time I've gotten a bug report because of cygwin ;)

[2015-04-21 04:43] #21 closed

[2015-08-20 20:00] snoyberg commented on #19
Sorry, only noticing this issue now. Is this still causing you trouble?

[2015-08-20 22:57] edom commented on #19
No, it no longer bothers me; I gave up on Idris a long time ago... (not because of this issue though; Idris was just too much hassle for me at that time)

[2015-08-21 03:08] snoyberg commented on #19
Thanks for confirming.

[2015-08-21 03:08] #19 closed

[2015-09-10 08:31] kdkeyser opened #22 "Read buffer size in Data.Streaming.Network is hardcoded to 4096"
I think it would make sense to make the buffer size configurable. I would be happy to look into this and provide a pull request if you think this would be helpful too.

Main use-case is for high-throughput servers: if you need to saturate a 40 Gb/s link, the recvfrom calls to the kernel become a bottleneck when using 4kiB reads. Since these servers often have plenty of memory (64-128 GB is not exc

[2015-09-10 08:58] snoyberg commented on #22
Let's definitely look into both increasing the default size and making it
configurable. Ideally this can be done without a breaking API change. Let
me know if you have any questions on how to proceed with a PR.

On Thu, Sep 10, 2015, 11:31 AM Koen De Keyser <notifications@github.com>
wrote:

[2015-09-10 15:12] #22 closed

[2015-09-23 13:03] phadej opened #25 "Test failure: FilesystemSpec.hs:40"
[code]

It's probably because of my setup (docker container in virtualbox on mac).

[2015-09-24 04:07] snoyberg commented on #25
I'll take a PR to fix this, but I can't think of a way to test for that
case correctly, especially since I don't really know what the problem is.

On Wed, Sep 23, 2015, 4:03 PM Oleg Grenrus <notifications@github.com> wrote:

[2015-09-24 06:04] phadej commented on #25
There are two options:
- skip the test if `createNamedPipe` fails
  - as it does, if one tries to create a link on docker volume mounted thru many layers to the os x filesystem at the end
- create link on the filesystem the container, e.g. using path generated with `temporary` inside `/tmp`

[2015-09-24 06:25] snoyberg commented on #25
I'd be OK with either approach.

[2015-09-25 12:31] #25 closed

[2015-11-24 10:01] snoyberg opened #27 "Ensure NO_DELAY is turned on for client connections"
Discussed with @bitonic. This is already done for the server side, but seems to be missing on the client side.

[2015-11-24 10:20] #27 closed

[2016-03-14 08:12] bgamari opened #28 "Lacking interface to detect end of zlib stream"
Some unfortunate data sources consist of several gzip streams concatenated together. When inflating such a source the zlib inflater will eventually enter `Z_STREAM_END`, at which point one needs to continue inflation with a new inflater. Unfortunately there is currently no way to detect this condition. See https://github.com/snoyberg/zlib-bindings/issues/10 for motivation.

[2016-03-14 10:36] snoyberg commented on #28
This looks like the same request as https://github.com/snoyberg/conduit/issues/254, which turned out to require no changes to streaming-commons, and was able to be implemented with the preexisting interface (though a helpful combinator from conduit-extra helped out). In your case, I wrote the following program which seems to have the behavior you're looking for:

[code]

Can you test that out?

[2016-03-14 12:33] bgamari commented on #28
Michael Snoyman <notifications@github.com> writes:

Ahh, I should have read the haddocks more carefully; Indeed that seems
to do the trick. Thanks!

[2016-03-14 13:53] snoyberg commented on #28
Glad it works

[2016-03-14 13:53] #28 closed

[2016-04-21 18:38] simonmichael opened #29 "bindPortTCP fails to report port in use on OSX"
On OSX, I can run two instances of my yesod app on the same port without error. The first "shadows" the second; the second starts receiving requests after the first terminates (https://github.com/simonmichael/hledger/issues/226).

I can reproduce this with bindPortTCP:

[code]

On GNU/Linux, it fails when expected:
[code]

but on OSX, it doesn't fail until the third bind:
[code]

(I don't know abo

[2016-04-21 18:54] simonmichael commented on #29
(And in wai-handler-launch, "*4" is hard-coded preventing the above workaround).

[2016-04-21 19:50] simonmichael commented on #29
I think "*4" here effectively means "any ipv4 or ipv6 hostname of this server where the port has not yet been bound, ipv4 hostname preferred". So, the second bind picks the ipv6 local host, and I can see that second instance of my yesod app by using a url like `http://[0:0:0:0:0:0:0:1]:5001/`.

Is there a way to detect which hostname was selected ? I could display it at startup, reducing confusion

[2016-04-21 20:17] simonmichael commented on #29
Related: https://github.com/yesodweb/wai/issues/101

[2016-04-22 06:22] snoyberg commented on #29
I don't think there's anything we can change in this library. The OS difference in behavior is annoying, but non-trivial to paper over. Would you be interested in sending a PR with a doc fix to make this more explicit?

[2016-05-05 00:30] jcpetruzza opened #31 "getSocketTCP ought to try connecting to all possible addresses"
I was hunting for a bug today that would occur consistently on one box and never on the other. In the end, I believe `Data.Streaming.Network.getSocketFamilyGen` is to blame.

This function gets a host, a port and an address-family and calls `Network.Socket.getAddrInfo` to resolve the host address. The problem lies in that `getAddrInfo` may return more than one address and, in that case, `getSocket

[2016-05-10 03:57] snoyberg commented on #31
I'm not familiar with the details of implementation here. I'm happy to take a PR, assuming it passes tests on various OSes.

[2016-05-10 07:53] jcpetruzza commented on #31
It shouldn't be hard to fix, so I'll prepare PR soon.

Incidentally, note also that if in the test suite you edit `Data.Streaming.NetworkSpec` and replace "127.0.0.1" by "localhost", the test will fail in Debian, OSX and other platforms where `localhost` is both `127.0.0.1` and `::1`.

[2016-05-10 23:37] jcpetruzza commented on #31
It turns out this cannot fixed in `getSocketFamilyGen` as I originally expected. The problem is that this function just creates a socket, which will typically succeed; the error will manifest later in `getSocketFamilyTCP` (and, thus, also `getSocketTCP`) when it tries to actually connect to that socket.

[2016-05-11 04:12] snoyberg commented on #29
Since the original problem has been fixed in wai-handler-launch, closing.

[2016-05-11 04:12] #29 closed

[2016-05-11 04:12] #31 closed

[2016-10-13 12:09] yutasth opened #35 "Not exported the data constructors of HostPreference"
The function serverSetting in Data.Conduit.Network requires a Data.Streaming.Network.HostPreference as an argument, but thd
I had to import

[2016-10-13 12:10] snoyberg commented on #35
It is intended to use the `IsString` instance, as mentioned in the docs. The constructors are not exposed to allow us to modify the representation in the future.

[2016-10-13 12:11] yutasth commented on #35
but the data constructors are not exported in Data.Streaming.Network.
I had to import Data.Streaming.Network.Internal.
Is this intended?

[2016-10-13 12:14] snoyberg commented on #35
I'll repeat what I said: you're supposed to use the `IsString` instance, not the constructors directly. The constructors may change in the future. The docs give examples of doing this, e.g. `"*4"` means "all IPv4 addresses."

[2016-10-13 12:17] yutasth commented on #35
I import fromString from Data.String and write "serverSetting 80 (fromString "*")" and it works.
Thanks for your kindness.

[2016-10-13 12:17] #35 closed

[2016-10-13 12:19] snoyberg commented on #35
You can just turn on the OverloadedStrings language extension, e.g.:

{-# LANGUAGE OverloadedStrings #-}

On Thu, Oct 13, 2016 at 3:17 PM, yutasth <notifications@github.com> wrote:

[2016-10-13 12:24] yutasth commented on #35
I didn't know that extention. Thanks a lot again!

[2017-05-22 21:43] dimbleby opened #37 "gzip decompression stops early without error"
Originally raised against `pipes-zlib` as k0001/pipes-zlib#16, but the following program displays the same fault without pipes being involved:

[code]

... where my `decompress` is based on [`decompressRaw`](https://github.com/fpco/streaming-commons/blob/019e14c596ed6bc8fa181f218291214e8fdf1026/test/Data/Streaming/ZlibSpec.hs#L246-L258), and the test input file that reproduces the problem is, per

[2017-05-23 07:49] dimbleby commented on #37
Ah, I wonder if this is basically the same as #28, and snoyberg/conduit#254

[2017-05-24 14:31] snoyberg commented on #37
I don't know how you created the original file, but that sounds reasonable.

On Tue, May 23, 2017 at 1:49 AM, David Hotham <notifications@github.com>
wrote:

[2017-05-24 19:47] dimbleby commented on #37
yep, I reckon that's what's going on.  Sorry for the noise...

[2017-05-24 19:47] #37 closed

[2017-05-24 23:27] snoyberg commented on #37
No worries

On Wed, May 24, 2017, 1:48 PM David Hotham <notifications@github.com> wrote:

[2017-05-25 08:05] dimbleby opened #38 "zlib decompression: can't detect truncated archives"
investigating #37 I noticed that if I:
* gzip a file
* deliberately truncate that archive
* feed this into a conduit-based ungzip (eg like [this one](https://github.com/fpco/streaming-commons/issues/28#issuecomment-196247851))

then I get no error: the data that remains is decompressed, and that's it.

By contrast if I decompress with the standard `gunzip` utility, I get an "unexpected end of file

[2017-06-01 13:15] dimbleby commented on #38
closed by #39

[2017-06-01 13:15] #38 closed

[2017-06-28 15:39] nh2 opened #40 "streamingProcess does not work with non-threaded runtime"
In the non`-threaded` runtime, the `waitForProcess` (`waitpid()`) call used in `streamingProcess` blocks the entire Haskell process, thus making the program block forever if the child process needs to be fed input by Haskell in order to terminate.

This is because `waitpid()` is not Fd-based and thus cannot use the non-blocking IO of the IO manager; see the [`waitForProcess` docs here](https://hac

[2017-06-28 15:42] nh2 commented on #40
I have a proposed solution in the `fix` branch of my repro:

https://github.com/nh2/sourceProcessWithStreams-nonthreaded-problem/compare/3709139...fix

The solution turns out to be a 3-line change, but I need some advice of backward compatibility in that package:

I'm currently using `createPipeFd` which according to https://www.stackage.org/lts-6.17/package/process-1.2.3.0 was added in `1.4.2.0 J

[2018-01-30 13:29] TravisCardwell opened #46 "bindPort{TCP,Gen,GenEx} only accepts numeric hostnames"
A colleague recently discovered that he is unable to use Warp with hostnames (such as "localhost"); it only works with IP addresses.

1. `runSettings` calls `bindPortTCP` ([source](https://github.com/yesodweb/wai/blob/warp/3.2.13/warp/Network/Wai/Handler/Warp/Run.hs#L108))
2. `bindPortTCP` calls `bindPortGen` ([source](https://github.com/fpco/streaming-commons/blob/streaming-commons/0.1.18/Data/St

[2018-01-31 06:48] snoyberg commented on #46
That set of hints has been floating through my network code for a very long time, and I can't say I know what negative impacts could come from changing them. The earliest commit I can find with them is:

https://github.com/yesodweb/wai/commit/02c1396c86e3fceb48cbe7df58cb631c804e24d4

@kazu-yamamoto Do you have any thoughts here?

[2018-01-31 07:40] kazu-yamamoto commented on #46
I would suggest `addrFlags = [AI_PASSIVE,AI_ADDRCONFIG]`.

- Delete `AI_NUMERICHOST` to allow hostnames
- Delete `AI_NUMERICSERV` to allow portnames
- Add `AI_ADDRCONFIG` to ensure to have suitable IP addresses

[2018-01-31 09:36] snoyberg commented on #46
I'm fine with such a change. Travis: you want to try this out and, if it
works for you, send a PR with the update?

On Wed, Jan 31, 2018 at 9:40 AM, Kazu Yamamoto <notifications@github.com>
wrote:

[2018-01-31 12:27] TravisCardwell commented on #46
Kazu's suggestion sounds good to me.  I tested against my use cases, and it works for me.  I have submitted the changes as PR #47.

[2018-01-31 15:12] snoyberg commented on #46
Addressed by #47, and uploaded as 0.1.19, thanks!

[2018-01-31 15:12] #46 closed

[2018-06-15 21:31] bitemyapp opened #48 "Should `runTCPServer` / `runTCPServerWithHandle` return `Void`?"
[code]

Quite possible I am wrong but `IO a` seems misleading to me.

/cc @mgsloan

[2018-06-15 21:50] mgsloan commented on #48
In favor of this :+1: - see https://github.com/commercialhaskell/rio/issues/28

[2018-06-16 21:05] snoyberg commented on #48
And from that issue, you can tell that I'm -1. I'd be happier with `void` instead of `Void`. I've tried hard to avoid breaking changes in this library, and don't see this as the time to make them.

[2018-06-17 17:35] bitemyapp commented on #48
Even just the type variable name and a comment would help.

[2018-06-18 04:37] snoyberg commented on #48
Here's my article on the topic: https://www.fpcomplete.com/blog/2017/07/to-void-or-to-void. I don't think there _should_ be a bandaid ripping off moment. I think `void` is the correct solution in positive position, and `Void` in negative position. I've heard the counterarguments, but they don't hold with me. I don't find being forced to sprinkle `absurd` through a code base adds meaningful type sa

[2018-06-20 05:32] peti opened #49 "streaming-commons-0.1.19 test suite failure"
Citing from https://hydra.nixos.org/build/76142098:

[code]

[2018-06-20 08:47] snoyberg commented on #49
I've pushed a commit (fc7a731c7d733c5bf2243a4f65125a2ab3688763) which includes the failing input you've reported, but cannot reproduce the build failure. I also tried cherry-picking that commit onto the 0.1.19 tag. Does this failure occur reliably for you? Does it occur against 0.2 as well?

[2018-06-20 10:56] peti commented on #49
That error occurs randomly, I'm afraid. We've built that packages in NixOS hundreds of times, but I never saw that error before until today.

[2018-06-20 11:00] snoyberg commented on #49
I can understand the error being random due to different seeds. But I plugged in exactly the same input referenced above and could not reproduce. Have you tested the same set of input again on NixOS?

[2018-06-20 11:10] peti commented on #49
To be honest, I don't even know how to do that. I suppose I'd have to pass the seed as an argument to the test suite somehow?

Maybe the exact versions of the dependencies used in the build matter?

[code]

[2018-06-20 12:47] snoyberg commented on #49
I'm unable to reproduce. Without a reliable reproduction, I'm going to close out the issue. I can't rely on Hydra builds to indicate a problem with the library exists.

[2018-06-20 13:33] peti commented on #49
Honestly, this is a problem with hspec, though. Clearly, knowing the seed is *not* good enough to reproduce the test run that generated that failure.

[2018-06-20 13:41] peti commented on #49
I ran the build with `--test-options=--seed=544721347` and it produces the exact same error for me.

[2018-06-20 13:53] snoyberg commented on #49
The set of dependencies provided is in conflict. async-2.1.1.1 has an upper bound `base < 4.11`.

[2018-06-20 13:54] snoyberg commented on #49
Also: the set of dependencies listed does not include the full transitive set. Please try to provide a `stack.yaml` that reproduces this.

[2018-06-20 14:01] peti commented on #49
We use `--allow-newer` to build that version with GHC 8.4.x.

What information do you need that the build log does not contain?

[2018-06-20 15:29] snoyberg commented on #49
Ultimately, I need a command I can run inside the source directory I clone from Github which reproduces the error so I can see what's happening. A `stack.yaml` is the easiest way to do that in general. If you can provide me with some other sequence of commands, including a Nix invocation, I can work with that too.

[2019-06-03 19:28] robx commented on #49
I can reproduce this issue somewhat reliably now on a guix virtual machine.

With the test below, I reliably get a failure that's always similar to https://gist.github.com/robx/c7979ac072222904f9232ef7190cd94b

Similar means:
- the iteration index is always 3
- frequently the failure seems exactly the same (at least: same position, same starting and ending bytes)
- it's always close to that positi

[2019-06-03 19:29] robx commented on #49
I should add that this is with streaming-commons-0.2.1.0 from hackage.

[2019-06-03 19:48] robx commented on #49
I can now reproduce this outside Guix, too. On macos with stackage lts-13.23, it fails reliably, though not always after 3 iterations.

[2019-06-05 12:57] #49 closed

[2019-08-03 12:46] srghma opened #53 "Avoid partial functions"
e.g. here https://github.com/fpco/streaming-commons/blob/master/Data/Streaming/Process.hs#L85-L97

[2020-01-04 12:49] erebe opened #54 "Hardcoded default Recv buffer size"
Hello,

While I was investigating for some performance improvements, I found out that streaming-commons hardcode the default socket recv buffer size to 32kb https://github.com/fpco/streaming-commons/blob/master/Data/Streaming/Network.hs#L267
It was introduced by this commit
https://github.com/fpco/streaming-commons/commit/8e38589efb60d38e10ece0c7987186efd852fffc#diff-8c54fc2d40ad45803c6889efbb0192

[2020-01-04 17:12] snoyberg commented on #54
I'm not opposed to putting in some kind of a better default based on the system, but I don't think the diagnosis here is correct. You're saying that the buffer size is hard coded, but the commit you link to provides a `setReadBufferSize` to modify the buffer size.

[2020-01-04 20:54] erebe commented on #54
Ok I will propose a PR and let you judge

Indeed, but one have to think about using it in the first place. My comment is more about the default setting being hardcoded instead of relying on the system value

[2020-01-05 12:42] erebe commented on #54
Thanks :)

[2020-01-05 12:42] #54 closed

[2020-01-07 18:36] epogrebnyak opened #56 "Failed to install on Windows 10, non-latin username folder"
[code]

[2020-01-08 08:25] snoyberg commented on #56
This looks like a bug in GHC, not `streaming-commons`. Is there some reason to believe that `streaming-commons` is doing something specific to trigger this?

You may be able to work around this by changing your code page with (IIRC) `chcp 65001`

[2020-01-08 09:49] epogrebnyak commented on #56
My only clue is that other dependencies of `pandoc` do install and `streaming-commons` fails in that installation.

[2020-01-08 09:53] epogrebnyak commented on #56
With `chcp 65001` the error comes even faster, unfortunately. Making things work on Windows is tedious (

[code]

[2020-01-08 10:40] snoyberg commented on #56
Out of curiosity, what versions of GHC and cabal-install are you using? Have you tried building this with Stack instead?

[2020-07-19 09:36] iliastsi opened #58 ""127.0.0.1" does not work on IPv6-only hosts"
The tests for `yesod-core` and `http-conduit` have started to fail lately on Debian, when the packages are built on IPv6-only hosts.
See [here](https://buildd.debian.org/status/fetch.php?pkg=haskell-yesod-core&arch=i386&ver=1.6.18-1&stamp=1593282031&raw=0) and [here](https://buildd.debian.org/status/fetch.php?pkg=haskell-http-conduit&arch=amd64&ver=2.3.7.3-2&stamp=1595147746&raw=0) for the build l

[2020-07-19 12:53] snoyberg commented on #58
Good call

[2020-07-19 12:53] #58 closed

[2021-10-18 11:36] expipiplus1 opened #60 "Test failure on aarch64 with ghc-9.2.1 due to UTF16 text decoding"
Because of this issue with text https://github.com/haskell/text/issues/380

Submitting this issue in case anyone else digs into it.

[code]

[2021-11-05 08:08] Jashweii opened #61 "Support base 4.16.0.0 (GHC 9.2.1)"
Streaming-commons doesn't build on base-4.16.0.0 due to changes in Word
In 4.15.0.0 Word8, 16, 32 all boxed Word# while in 4.16.0.0 they box Word8#, Word16# and Word32#

[2021-11-07 07:33] ruomad commented on #61
Hello,
There is a patch on headhackage.

[2021-11-08 06:37] snoyberg commented on #61
PR welcome

[2021-11-08 22:56] ruomad commented on #61
I posted a draft PR with head.hackage patch. It does compile with ghc-9.2.1

[2021-11-09 18:08] #61 closed

[2021-11-19 23:10] Bodigrim opened #63 "Compatibility with text-2.0"
I've uploaded `text-2.0-rc1` with UTF8 underlying representation.

Hackage: https://hackage.haskell.org/package/text-2.0/candidate
Changelog: https://hackage.haskell.org/package/text-2.0/candidate/changelog

I'd like to submit a patch for `streaming-commons`, but not sure how to proceed. Seems `streaming-commons` contains cloned bits and pieces from `text-1.1`?..

[2021-11-20 15:42] snoyberg commented on #63
A PR will be welcome. I don't know the best way to move ahead with such a PR, I think the relevant code in streaming-commons comes from quite a while ago in text history.

[2021-12-05 15:34] #63 closed

[2021-12-30 19:16] sjakobi opened #66 "Build failure with text-2.0 in v0.2.2.1"
[code]

[2021-12-30 19:26] sjakobi commented on #66
Looks like several versions are affected:

[code]

[2021-12-30 19:38] sjakobi opened #67 "Build failures with network-3"
[code]

[code]

[2021-12-30 19:48] sjakobi commented on #66
v0.2.2.2 was affected too when built with a recent GHC version.

As a Hackage trustee I have pushed some Hackage revisions that add bounds which should prevent users from encountering this issue. See e.g. https://hackage.haskell.org/package/streaming-commons-0.2.2.2/revisions/.

[2021-12-30 19:50] #66 closed

[2021-12-30 19:51] sjakobi commented on #67
As a Hackage trustee I have pushed some Hackage revisions that add bounds which should prevent users from encountering this issue. See e.g. https://hackage.haskell.org/package/streaming-commons-0.1.15.5/revisions/.

[2021-12-30 19:51] #67 closed

[2021-12-30 20:17] sjakobi opened #68 "Build failures with GHC-9.2.1"
[code]

[code]

[2021-12-30 21:07] sjakobi commented on #68
As a Hackage trustee I have pushed some Hackage revisions that add bounds which should prevent users from encountering this issue. See e.g. https://hackage.haskell.org/package/streaming-commons-0.2.2.1/revisions/.

[2021-12-30 21:07] #68 closed

[2022-07-06 10:37] yoricksijsling opened #70 "Utf8 decoder for text-2.0 should fail on trailing bytes"
When we pass an empty bytestring to the utf8 decoder, this indicates that the input has ended and if there are any undecoded bytes left we should return a `DecodeResultFailure`. The new text-2.0 version as implemented by @Bodigrim in https://github.com/fpco/streaming-commons/pull/65 does not yet perform this check. https://github.com/fpco/streaming-commons/blob/d759bf6914f1d48afe5ee8c80cd7f6298293

[2022-10-23 07:22] #70 closed